---
import Layout from "../layouts/Layout.astro";
---

<Layout title="タイトル">
  <ul>
    <li class="test">aaa</li>
    <li>bbb</li>
  </ul>
</Layout>

<style lang="scss">
  @import "../styles/variables.scss";
  .test {
    font-size: $baseFontSize;
  }
</style>
